{% extends 'base.html' %}

{% block title %}CCNN | Add Crypto{% endblock %}

{% block body %}

	<br/><br/><br/><br/>
	<h2 class="text-center">Add A Currency</h2>
	<br/>
	<div class="container">
		<div class="col-md-4 offset-md-4 text-center" >
			<form method="POST">
				{%csrf_token%}
			  <div class="form-group">
			    <input type="text" class="form-control" placeholder="Enter Coin Symbol" name="symbol" maxlength="5" required>
			  </div>
			  <div class="form-group">
			    <input type="number" class="form-control" placeholder="Enter Amount" name="amount" reqired>
			  </div>
			  <button type="submit" class="btn btn-secondary">Add</button>
			</form>
		</div>
	</div>
	<br/><br/><br/><br/>

{% endblock %}