{% extends 'base.html' %}

{% block title %}CCNN | Add Crypto Coin{% endblock %}

{% block body %}

	<br/><br/><br/><br/>
	<h2 class="text-center">Add a Currency</h2>
	<br/>
	<div class="container">
		<div class="col-md-4 offset-md-4 text-center" >
			<form method="POST">
				{%csrf_token%}
			  <div class="form-group">
			  	<span class="form-text text-muted"><small>Select Currency</small></span>
			    <select name="symbol" maxlength="5" required>
			    	{% for x in price.data %}<option value="{{x.symbol}}">{{x.symbol}} - {{x.name}}</option>{% endfor %}</select>
			  </div>
			  <div class="form-group">
			    <input type="number" step="any" class="form-control" placeholder="Enter Amount" name="amount" required="" oninput="check(this)">
			  </div>
			  <button type="submit" class="btn btn-secondary">Add</button>
			</form>
			<script>
				 function check(input) {
				   if (input.value <= 0) {
				     input.setCustomValidity('The number must be greater than zero.');
				   } else {
				     // input is fine -- reset the error message
				     input.setCustomValidity('');
				   }
				 }
			</script>
		</div>
	</div>
	<br/><br/><br/><br/>

{% endblock %}