{% extends 'base.html' %}

{% block title %}CCNN | Add Crypto Coin{% endblock %}

{% block body %}
{% load mathfilters %}

	<br/><br/><br/><br/>
	<h2 class="text-center">Your Crypto Portfolio</h2>
	<br/><br/>
	<div class="container widget widget-crypto-rates">
		<table class="table table-striped table-bordered table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Price</th>
		      <th scope="col">CMC Rank</th>
		      <th scope="col">1-hour Change</th>
		      <th scope="col">24-hour Change</th>
		      <th scope="col">Amount Held</th>
		      <th scope="col">Total Value</th>
		    </tr>
		  </thead>
		  <tbody>

		 	{% for coin, amount in portfolio.items %}
		 		{% for x in price.data %}
			 		{% if coin == x.symbol %}
				    <tr>
					    <td>
					      	<img class="crypto-rates__img" src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/32/color/{{x.symbol|lower}}.png">
			                <span class='crypto-rates__name'>{{x.name}}</span>
			            </td>
					    <td>
					    	<span class='crypto-rates__price'>$ {{x.quote.USD.price|floatformat:2}}</span>
					    </td>
					    <td>{{x.cmc_rank}}</td>
					    {% if x.quote.USD.percent_change_1h > 0 %}
						    <td> 
						    	<span class='crypto-rates__percent crypto-rates__percent--up'>{{x.quote.USD.percent_change_1h|floatformat:2}}%</span>
						    </td>
						{% else %}
						    <td>
						    	<span class='crypto-rates__percent crypto-rates__percent--down'>{{x.quote.USD.percent_change_1h|floatformat:2}}%</span>
							</td>
					    {% endif %}
						{% if x.quote.USD.percent_change_24h > 0 %}
						    <td> 
						    	<span class='crypto-rates__percent crypto-rates__percent--up'>{{x.quote.USD.percent_change_24h|floatformat:2}}%</span>
						    </td>
						{% else %}
						    <td>
						    	<span class='crypto-rates__percent crypto-rates__percent--down'>{{x.quote.USD.percent_change_24h|floatformat:2}}%</span>
							</td>
					    {% endif %}
					    <td>{{amount}}</td>
					    <td>$ {{x.quote.USD.price|mul:amount|floatformat:2}}</td>
				    </tr>
				    {% endif %}
			    {% endfor %}
		  	{% endfor %}
		  </tbody>
		</table>
	</div>
			<br/><br/><br/><br/>

{% endblock %}