{% extends 'base.html' %}

{% block title %}CCNN | Change Password{% endblock %}

{% block body %}

  <br/><br/><br/><br/>
  <h2 class="text-center">Login</h2>
  <br/>
  <div class="container">
    <div class="col-md-4 offset-md-4 text-center" >
      <form method="POST" action="{%url 'changePassword'%}">
    		{%csrf_token%}

    		{%if form.errors%}
    			 <div class="alert alert-warning alert-dismissable" role="alert">
              <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
              </button>
              <p>Your Form Has Errors</p>
              {%for field in form%}
              	{%if field.errors%}
              		{{field.errors}}

              	{%endif%}
              {%endfor%}
            </div>
    		{%endif%}

    		{{form.as_p}}

    		<input type="submit" value="Change Password" class="btn btn-secondary">
    	</form>
    </div>
  </div>
  <br/><br/><br/><br/>

{% endblock %}