{% extends 'base.html' %}

{% block title %}CCNN | About{% endblock %}

{% block body %}
{% load static %}

    <!-- Content -->      
    <section class="section-wrap main-content">
      <div class="container">
        <div class="row">
              
          <!-- post content -->
          <div class="col-lg-8 offset-lg-2 centered blog__content mb-30">

            <!-- standard post -->
            <article class="entry">
              
              <div class="single-post__entry-header entry__header">
               <h1 class="single-post__entry-title">
                  About CCNN
                </h1>

                <ul class="entry__meta">
                  <li class="entry__meta-author">
                    <a href="http://www.szymonbalasz.com/cv">
                      <span>by</span>
                      <span class="entry__meta-author-name">Szymon Bałasz</span>
                    </a>
                  </li>
                  <li class="entry__meta-date">
                    26 March, 2019
                  </li>
                </ul>
              </div>

              <div class="entry__img-holder">
                <img src="{% static 'img/aboutCCNN.jpg' %}" alt="" class="entry__img">
              </div>



                <div class="entry__article">
                  <p>Hello! Thanks for taking the time to check out my app. CCNN is an app that I developed while leanring the Django Framework. I've been programming with Python for a long time, but this was my first foray into the world of web development with a language I used exclusively for native development. The biggest challenge was wrapping my head around Django’s Model and Form. Coming from mostly C++ I wasn’t used to thinking of classes as tables.</p>

                  <p><strong>If you have a minute</strong>, I’d appreciate if you could use the app and let me know what you think. Here’s what it does…</p>

                  <h2>Your Crypto Portfolio</h2> 
                  <p>You can <a href="{% url 'register' %}">create an account</a>, complete with full user-authentication, and start inputting what kinds of crypto currency you possess. The app stores this information in a Postresql database and uses it to cross reference news feeds and crypto market values. Based on your portfolio, your home page will show news stories related to the specific currencies you hold, as well as general crypto news such as ICO’s and mining news. Then, you can view and edit your portfolio of coins and see a quick summary of their market value, growth, etc.</p>

                  <blockquote><p>The APIs used for this site are <a href="https://min-api.cryptocompare.com/">CryptoCompare</a> and <a href="https://coinmarketcap.com/api/">CoinMarketCap</a>.</p></blockquote>

                  <p>The code for this project is available on <a href="https://github.com/szymonbalasz">my GitHub page</a>. You can also read a bit more about the app and how it works on <a href="https://www.szymonbalasz.com/blog">the blog post</a>.</p>

                  <h3>Cheers!</h3>
                  <p>Szymon</p>
                </div>
         
	        </article>
		    </div>
		</div>
	</div>
</section>

{% endblock %}