{% extends 'base.html' %}

{% block title %}CCNN | Home{% endblock %}

{% block body %}

    <!-- Content -->      
    <section class="section-wrap main-content">
      <div class="container">
        <div class="row">
              
          <!-- post content -->
          <div class="col-lg-8 offset-lg-2 centered blog__content mb-30">

            <!-- standard post -->
            <article class="entry">
              
              <div class="single-post__entry-header entry__header">
               <h1 class="single-post__entry-title">
                  About CCNN
                </h1>

                <ul class="entry__meta">
                  <li class="entry__meta-author">
                    <a href="http://www.szymonbalasz.com/cv">
                      <img src="img/blog/author.png" alt="">
                      <span>by</span>
                      <span class="entry__meta-author-name">Szymon Bałasz</span>
                    </a>
                  </li>
                  <li class="entry__meta-date">
                    26 March, 2019
                  </li>
                </ul>
              </div>

              <div class="entry__img-holder">
                <img src="img/blog/single_post_featured_img.jpg" alt="" class="entry__img">
              </div>

              <div class="entry__article-wrap">

                <!-- Share -->
                <div class="entry__share">
                  <div class="sticky-col">
                    <div class="socials entry__share-socials">
                      <a href="#" class="social social-facebook entry__share-social social--colored-facebook">
                        <i class="ui-facebook"></i>
                      </a>
                      <a href="https://twitter.com/SzymonBalasz" class="social social-twitter entry__share-social social--colored-twitter">
                        <i class="ui-twitter"></i>
                      </a>
                    </div>
                  </div>                  
                </div> <!-- share -->

                <div class="entry__article">
                  <p>Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa. Fusce ante magna, iaculis ut purus ut. <a href="#">Morbi consequat purus</a> ac ultricies commodo. Integer aliquam ante a mauris gravida, vitae bibendum neque pharetra. Nulla rhoncus orci varius purus lobortis euismod. Fusce tincidunt dictum est et rhoncus. <strong>Vivamus hendrerit</strong> congue nisi, et nisl tincida vestibulum elit tincidunt eu. Vivamus ac pharetra orci, in feugiat massa. Proin congue mauris pretium, ultricies tortor in, aliquam urna. Vivamus mi tortor, finibus a interdum ac, ultricies in elit.</p>

                  <blockquote><p>“Dreams and dedication are powerful combination.”</p>
                  <cite>William Longgood</cite>
                  </blockquote>

                  <h2>Set a bigger goals and chase them everyday</h2>            

                  <p>Music can help you get into a “flow state” -- losing yourself in the task at hand. Even repetitive tasks or mundane assignments seem more bearable, or even fun, when your favorite tunes are in your ears. Plus, your eyes won’t be so prone to checking the time. <a href="#">Check out these</a> and more reasons to bring your music to work in this Zing Instruments infographic below. A great piece of music is an instant mood lifter. Plenty of scientific evidence backs this up - we`re happier bunnies when listening to music.</p>          

                  <p>Nulla rhoncus orci varius purus lobortis euismod. Fusce tincidunt dictum est et rhoncus. Vivamus hendrerit congue nisi, et nisl tincida vestibulum elit tincidunt eu. Vivamus ac pharetra orci, in feugiat massa. Proin congue mauris pretium, ultricies tortor in, aliquam urna. Vivamus mi tortor, finibus a interdum ac, ultricies in elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere hendrerit ex eu scelerisque.</p>

                  <h3>Summary</h3>
                  
                  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are quickened, charged. And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion.</p>

                </div>
            </div>
	        </article>
		    </div>
		</div>
	</div>
</section>

{% load static %}

{% endblock %}