{% extends 'base.html' %}

{% block title %}CCNN | Home{% endblock %}

{% block body %}
{% load static %}



    <!-- Content -->      
    <section class="section-wrap main-content">
      <div class="container">    
        <div class="row">

          <!-- Posts -->
          <div class="col-lg-8 blog__content mb-30">

            <!-- Featured Post -->
            <article class="entry">
              <div class="thumb-bg-holder thumb-container thumb-65">
                <img data-src="img/blog/featured_post_img.jpg" src="img/empty.png" class="lazyload" alt="">
                <a href="single-post.html" class="thumb-url"></a>
                <div class="bottom-gradient"></div>
              </div>

              <div class="thumb-text-holder">
                <h1 class="thumb-entry-title">
                  <a href="{% url 'about' %}">About CCNN</a>
                </h1>
              </div>
            </article> <!-- end featured post -->

            <!-- Hot News -->
            <section class="section">
              <h3 class="section-title h2">Hot News</h3>
              <div class="row">
                <div class="col-md-6">
                  <article class="entry">
                    <a href="categories.html" class="entry__meta-category">currency market</a>
                    <div class="entry__img-holder">
                      <a href="single-post.html">
                        <div class="thumb-container thumb-75">
                          <img data-src="img/blog/post_1.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        </div>
                      </a>
                    </div>

                    <div class="entry__body">
                      <div class="entry__header">
                        <h2 class="entry__title entry__title--medium">
                          <a href="single-post.html">Bitcoin Fees: Possible Solutions and Scenarios</a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-md-6">
                  <article class="entry">
                    <a href="categories.html" class="entry__meta-category">education</a>
                    <div class="entry__img-holder">
                      <a href="single-post.html">
                        <div class="thumb-container thumb-75">
                          <img data-src="img/blog/post_2.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        </div>
                      </a>
                    </div>

                    <div class="entry__body">
                      <div class="entry__header">                        
                        <h2 class="entry__title entry__title--medium">
                          <a href="single-post.html">Navigating The ICO Gold Rush – 4 Critical ICO Evaluation Factors</a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
              </div> 
            </section> <!-- end hot news -->

            <!-- Recent News -->
            <section>
              <h3 class="section-title h2">Recent News</h3>
              <div class="row">


                <div class="col-lg-4 col-md-6">
                  <article class="entry">
                    <a href="categories.html" class="entry__meta-category">education</a>
                    <div class="entry__img-holder">
                      <a href="single-post.html">
                        <div class="thumb-container thumb-60">
                          <img data-src="img/blog/post_3.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        </div>
                      </a>
                    </div>
                    <div class="entry__body">
                      <div class="entry__header">
                        <h2 class="entry__title">
                          <a href="single-post.html">How to Read a Blockchain Explorer</a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-4 col-md-6">
                  <article class="entry">
                    <a href="categories.html" class="entry__meta-category">investment</a>
                    <div class="entry__img-holder">
                      <a href="single-post.html">
                        <div class="thumb-container thumb-60">
                          <img data-src="img/blog/post_4.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        </div>
                      </a>
                    </div>
                    <div class="entry__body">
                      <div class="entry__header">
                        <h2 class="entry__title">
                          <a href="single-post.html">Growth Hacking Your ICO – 7 Steps to Successful Token Sale</a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-4 col-md-6">
                  <article class="entry">
                    <a href="categories.html" class="entry__meta-category">ICO’s</a>
                    <div class="entry__img-holder">
                      <a href="single-post.html">
                        <div class="thumb-container thumb-60">
                          <img data-src="img/blog/post_5.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        </div>
                      </a>
                    </div>
                    <div class="entry__body">
                      <div class="entry__header">
                        <h2 class="entry__title">
                          <a href="single-post.html">Litecoin Mining: Scrypt Algorithm for a Leading Coin</a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-4 col-md-6">
                  <article class="entry">
                    <a href="categories.html" class="entry__meta-category">mining</a>
                    <div class="entry__img-holder">
                      <a href="single-post.html">
                        <div class="thumb-container thumb-60">
                          <img data-src="img/blog/post_6.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        </div>
                      </a>
                    </div>
                    <div class="entry__body">
                      <div class="entry__header">
                        <h2 class="entry__title">
                          <a href="single-post.html">How to Buy Litecoin: Get your First Digital Silver</a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-4 col-md-6">
                  <article class="entry">
                    <a href="categories.html" class="entry__meta-category">reviews</a>
                    <div class="entry__img-holder">
                      <a href="single-post.html">
                        <div class="thumb-container thumb-60">
                          <img data-src="img/blog/post_7.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        </div>
                      </a>
                    </div>
                    <div class="entry__body">
                      <div class="entry__header">
                        <h2 class="entry__title">
                          <a href="single-post.html">ChronoBank: What's in the Near Future?</a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-4 col-md-6">
                  <article class="entry">
                    <a href="categories.html" class="entry__meta-category">investment</a>
                    <div class="entry__img-holder">
                      <a href="single-post.html">
                        <div class="thumb-container thumb-60">
                          <img data-src="img/blog/post_8.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                        </div>
                      </a>
                    </div>
                    <div class="entry__body">
                      <div class="entry__header">
                        <h2 class="entry__title">
                          <a href="single-post.html">The Simple Way to Get on Board with Cryptocurrency</a>
                        </h2>
                      </div>
                    </div>
                  </article>
                </div>
              </div> 
            </section> <!-- end recent news -->

          </div> <!-- end posts -->

          <!-- Sidebar -->
          <aside class="col-lg-4 sidebar sidebar--right">

            <!-- Widget Crypto Rates -->
            <div class="widget widget-crypto-rates">
              <h4 class="widget-title">Cryptocurrency Prices</h4>
              <div class="crypto-rates">
              
              		{% for x in price.data %}

                  	{% if x.symbol ==  "BTC" %}
					<div>
						<img class="crypto-rates__img" src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/32/color/{{x.symbol|lower}}.png">
                  		<span class='crypto-rates__name'>{{x.name}}</span>
                  		<span class='crypto-rates__price'>$ {{x.quote.USD.price|floatformat:2}}</span>
                  		{% if x.quote.USD.percent_change_1h > 0 %}
	                  		<span class='crypto-rates__percent crypto-rates__percent--up'>{{x.quote.USD.percent_change_1h|floatformat:2}}%</span>
	                  	{% else %}
	                  		<span class='crypto-rates__percent crypto-rates__percent--down'>{{x.quote.USD.percent_change_1h|floatformat:2}}%</span>
                  		{% endif %}
              		</div>

                  	{% endif %}
                  {% endfor %}

            	</div>  
            </div>

            <!-- Widget Crypto Portfolio -->


            <!-- Widget Featured ICO's -->
            <div class="widget widget-featured-icos">
              <h4 class="widget-title">Featured ICO's</h4>
              <ul class="widget-featured-icos__list">
                <li class="widget-featured-icos__item">
                  <a href="#" class="widget-featured-icos__url">
                    <img src="img/blog/ico_1.png" alt="">
                    <span class="widget-featured-icos__title">ClearCoin</span>
                    <span class="widget-featured-icos__launch">Starts in:</span>
                    <span class="widget-featured-icos__time">66 days</span>
                  </a>
                </li>
                <li class="widget-featured-icos__item">
                  <a href="#" class="widget-featured-icos__url">
                    <img src="img/blog/ico_2.png" alt="">
                    <span class="widget-featured-icos__title">Monetha</span>
                    <span class="widget-featured-icos__launch">Starts in:</span>
                    <span class="widget-featured-icos__time">12 days</span>
                  </a>
                </li>
                <li class="widget-featured-icos__item">
                  <a href="#" class="widget-featured-icos__url">
                    <img src="img/blog/ico_3.png" alt="">
                    <span class="widget-featured-icos__title">HelloGold</span>
                    <span class="widget-featured-icos__launch">Starts in:</span>
                    <span class="widget-featured-icos__time">3 days</span>
                  </a>
                </li>
              </ul>
            </div> <!-- end widget featured icos -->

            <!-- Widget Socials -->
            <div class="widget widget-socials">
              <div class="socials justify-content-center">
                <a class="social social-facebook" href="#" title="facebook" target="_blank" aria-label="facebook">
                  <i class="ui-facebook"></i>
                </a><!--
                --><a class="social social-twitter" href="#" title="twitter" target="_blank" aria-label="twitter">
                  <i class="ui-twitter"></i>
                </a><!--
                --><a class="social social-google-plus" href="#" title="google" target="_blank" aria-label="google">
                  <i class="ui-google"></i>
                </a><!--
                --><a class="social social-instagram" href="#" title="instagram" target="_blank" aria-label="instagram">
                  <i class="ui-instagram"></i>
                </a><!--
                --><a class="social social-youtube" href="#" title="youtube" target="_blank" aria-label="youtube">
                  <i class="ui-youtube"></i>
                </a><!--
                --><a class="social social-rss" href="#" title="rss" target="_blank" aria-label="rss">
                  <i class="ui-rss"></i>
                </a>
              </div>
            </div> <!-- end widget socials -->

          </aside> <!-- end sidebar -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end content -->

    <!-- Ad -->
    <section class="section-wrap">
      <div class="container text-center">
        <a href="#">
          <img src="img/blog/placeholder_leaderboard.jpg" alt="">
        </a>
      </div>      
    </section>

    <!-- News by categories -->
    <section class="section-wrap news-by-categories pt-20">
      <div class="container">
        <h3 class="section-title h2">News by Categories</h3>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <article class="entry">
              <a href="categories.html" class="entry__meta-category">education</a>
              <div class="entry__img-holder">
                <a href="single-post.html">
                  <div class="thumb-container thumb-60">
                    <img data-src="img/blog/post_9.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                  </div>
                </a>
              </div>
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">Best Bitcoin Exchanges Reviewed &amp; Compared</a>
                  </h2>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">ChronoBank: What's in the Near Future?</a>
                  </h2>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">Cryptocurrency Markets: Weekly Trading Overview (06-13 October)</a>
                  </h2>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-3 col-md-6">
            <article class="entry">
              <a href="categories.html" class="entry__meta-category">investment</a>
              <div class="entry__img-holder">
                <a href="single-post.html">
                  <div class="thumb-container thumb-60">
                    <img data-src="img/blog/post_10.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                  </div>
                </a>
              </div>
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">MyEtherWallet Opens the Ethereum Universe for You</a>
                  </h2>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">How to Buy Litecoin: Get your First Digital Silver</a>
                  </h2>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">Growth Hacking Your ICO – 7 Steps to Successful Token Sale</a>
                  </h2>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-3 col-md-6">
            <article class="entry">
              <a href="categories.html" class="entry__meta-category">education</a>
              <div class="entry__img-holder">
                <a href="single-post.html">
                  <div class="thumb-container thumb-60">
                    <img data-src="img/blog/post_11.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                  </div>
                </a>
              </div>
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">LocalBitcoins: Another Measure of Bitcoin's Popularity</a>
                  </h2>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">How to Read a Blockchain Explorer</a>
                  </h2>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">Navigating The ICO Gold Rush – 4 Critical ICO Evaluation Factors</a>
                  </h2>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-3 col-md-6">
            <article class="entry">
              <a href="categories.html" class="entry__meta-category">ICO's</a>
              <div class="entry__img-holder">
                <a href="single-post.html">
                  <div class="thumb-container thumb-60">
                    <img data-src="img/blog/post_12.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                  </div>
                </a>
              </div>
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">Top VCs Back Record Breaking Filecoin ICO</a>
                  </h2>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">Litecoin Mining: Scrypt Algorithm for a Leading Coin</a>
                  </h2>
                </div>
              </div>
            </article>
            <article class="entry">
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="single-post.html">ChronoBank: Reaching the Community and Markets</a>
                  </h2>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section> <!-- end news by categories -->
{% endblock %}