{% extends 'base.html' %}

{% block title %}CCNN | Home{% endblock %}

{% block body %}
{% load static %}



    <!-- Content -->      
    <section class="section-wrap main-content">
      <div class="container">    
        <div class="row">

          <!-- Posts -->
          <div class="col-lg-8 blog__content mb-30">

            <!-- About CCNN -->
            <br/>
            <article class="entry">
              <div class="thumb-bg-holder thumb-container thumb-65">
                <img data-src="{% static 'img/aboutCCNN.jpg' %}" src="{% static 'img/aboutCCNN.jpg' %}" class="lazyload" alt="">
                <a href="single-post.html" class="thumb-url"></a>
                <div class="bottom-gradient"></div>
              </div>

              <div class="thumb-text-holder">
                <h1 class="thumb-entry-title">
                  <a href="{% url 'about' %}">About CCNN</a>
                </h1>
              </div>
            </article> <!-- end About CCNN -->

            <!-- Business News -->
            <section class="section">
              <h3 class="section-title h2">Business News</h3>              
              <div class="row">
              	{% for article, info in businessNews.items %}
	                <div class="col-md-6">
	                  <article class="entry">
	                    <a class="entry__meta-category">{{info.categories}}</a>
	                    <div class="entry__img-holder">
	                      <a href="{{info.url}}">
	                        <div class="thumb-container thumb-75">
	                          <img data-src="{{info.imageurl}}" src="{{info.imageurl}}" class="entry__img lazyload" alt="" />
	                        </div>
	                      </a>
	                    </div>
	                    <div class="entry__body">
	                      <div class="entry__header">
	                        <h2 class="entry__title entry__title--medium">
	                          <a href="{{info.url}}">{{info.title}}</a>
	                        </h2>
	                      </div>
	                    </div>
	                  </article>
	                </div>
            	{% endfor %}
              </div> 
            </section> <!-- end business news -->

            <!-- Portfolio News -->
            <section>
              <h3 class="section-title h2">Your Portfolio Coin News</h3>
              <div class="row">
              	{% for article, info in coinNews.items %}
	                <div class="col-lg-4 col-md-6">
	                  <article class="entry">
	                    <a class="entry__meta-category">{{info.categories}}</a>
	                    <div class="entry__img-holder">
	                      <a href="{{info.url}}">
	                        <div class="thumb-container thumb-60">
	                          <img data-src="{{info.imageurl}}" src="{{info.imageurl}}" class="entry__img lazyload" alt="" />
	                        </div>
	                      </a>
	                    </div>
	                    <div class="entry__body">
	                      <div class="entry__header">
	                        <h2 class="entry__title">
	                          <a href="{{info.url}}">{{info.title}}</a>
	                        </h2>
	                      </div>
	                    </div>
	                  </article>
	                </div>
                {% endfor %}
              </div> 
            </section> <!-- end Portfolio news -->

          </div> <!-- end posts -->

          <!-- Sidebar -->
          <aside class="col-lg-4 sidebar sidebar--right">

            <!-- Crypto Portfolio -->
            <div class="widget widget-crypto-rates">
              <h4 class="widget-title">Your Coin Prices</h4>
              <div class="crypto-rates">
              
              		{% if user.is_authenticated %}
              		{% for coin, amount in portfolio.items %}
	              		{% for x in price.data %}

	                  	{% if coin == x.symbol %}
						<div>
							<img class="crypto-rates__img" src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/32/color/{{x.symbol|lower}}.png">
	                  		<span class='crypto-rates__name'>{{x.name}}</span>
	                  		<span class='crypto-rates__price'>$ {{x.quote.USD.price|floatformat:2}}</span>
	                  		{% if x.quote.USD.percent_change_1h > 0 %}
		                  		<span class='crypto-rates__percent crypto-rates__percent--up'>{{x.quote.USD.percent_change_1h|floatformat:2}}%</span>
		                  	{% else %}
		                  		<span class='crypto-rates__percent crypto-rates__percent--down'>{{x.quote.USD.percent_change_1h|floatformat:2}}%</span>
	                  		{% endif %}
	              		</div>

	                  	{% endif %}
	                	{% endfor %}
	            	{% endfor %}
	            	{% else %}
	            		<div>
	            			<span>Please <a href="{% url 'login' %}">Login</a> to View</span>
	            		</div>
	            	{% endif %}

            	</div>  
            </div>

            <!-- End Crypto Portfolio -->

            <!-- Top Crypto Rates -->
            <div class="widget widget-crypto-rates">
              <h4 class="widget-title">Top Rated Coins</h4>
              <div class="crypto-rates">
              
              		{% for rank, symbol in topCoins.items %}
	              		{% for x in price.data %}

	                  	{% if symbol == x.symbol %}
						<div>
							<img class="crypto-rates__img" src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/32/color/{{x.symbol|lower}}.png">
	                  		<span class='crypto-rates__name'>{{x.name}}</span>
	                  		<span class='crypto-rates__price'>$ {{x.quote.USD.price|floatformat:2}}</span>
	                  		{% if x.quote.USD.percent_change_1h > 0 %}
		                  		<span class='crypto-rates__percent crypto-rates__percent--up'>{{x.quote.USD.percent_change_1h|floatformat:2}}%</span>
		                  	{% else %}
		                  		<span class='crypto-rates__percent crypto-rates__percent--down'>{{x.quote.USD.percent_change_1h|floatformat:2}}%</span>
	                  		{% endif %}
	              		</div>

	                  	{% endif %}
	                {% endfor %}
	            {% endfor %}

            	</div>  
            </div>
            <!-- End Top Crypto Rates -->


          </aside> <!-- end sidebar -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end content -->

    <!-- News by categories -->
    <section class="section-wrap news-by-categories pt-20">
      <div class="container">
        <h3 class="section-title h2">News by Categories</h3>
        <div class="row">
          <div class="col-lg-3 col-md-6">          	
              <a class="entry__meta-category">MINING</a>
              {% for article, info in miningNews.items %}
              <article class="entry">
              <div class="entry__img-holder">
                <a href="{{info.url}}">
                  <div class="thumb-container thumb-60">
                    <img data-src="{{info.imageurl}}" src="{{info.imageurl}}" class="entry__img lazyload" alt="" />
                  </div>
                </a>
              </div>
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="{{info.url}}">{{info.title}}</a>
                  </h2>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
          <div class="col-lg-3 col-md-6">
              <a class="entry__meta-category">REGULATION AND TRADING</a>
				{% for article, info in regulationNews.items %}
              <article class="entry">
              <div class="entry__img-holder">
                <a href="{{info.url}}">
                  <div class="thumb-container thumb-60">
                    <img data-src="{{info.imageurl}}" src="{{info.imageurl}}" class="entry__img lazyload" alt="" />
                  </div>
                </a>
              </div>
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="{{info.url}}">{{info.title}}</a>
                  </h2>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
          <div class="col-lg-3 col-md-6">
            
              <a class="entry__meta-category">MARKET</a>
              {% for article, info in marketNews.items %}
              <article class="entry">
              <div class="entry__img-holder">
                <a href="{{info.url}}">
                  <div class="thumb-container thumb-60">
                    <img data-src="{{info.imageurl}}" src="{{info.imageurl}}" class="entry__img lazyload" alt="" />
                  </div>
                </a>
              </div>
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="{{info.url}}">{{info.title}}</a>
                  </h2>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
          <div class="col-lg-3 col-md-6">
           
              <a class="entry__meta-category">ICO's AND BLOCKCHAIN</a>
              {% for article, info in ICONews.items %}
              <article class="entry">
              <div class="entry__img-holder">
                <a href="{{info.url}}">
                  <div class="thumb-container thumb-60">
                    <img data-src="{{info.imageurl}}" src="{{info.imageurl}}" class="entry__img lazyload" alt="" />
                  </div>
                </a>
              </div>
              <div class="entry__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="{{info.url}}">{{info.title}}</a>
                  </h2>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
      </div>
    </section> <!-- end news by categories -->
{% endblock %}